
StorageObject/obj/StorageObject.csproj.nuget.g.targets
StorageObject/obj/StorageObject.csproj.nuget.g.props
StorageObject/obj/StorageObject.csproj.nuget.dgspec.json
StorageObject/obj/StorageObject.csproj.nuget.cache
StorageObject/obj/project.assets.json
StorageObject/obj/Debug/netcoreapp3.1/StorageObject.csprojAssemblyReference.cache
StorageObject/obj/Debug/netcoreapp3.1/StorageObject.csproj.FileListAbsolute.txt
StorageObject/obj/Debug/netcoreapp3.1/StorageObject.assets.cache
StorageObject/obj/Debug/netcoreapp3.1/StorageObject.AssemblyInfoInputs.cache
StorageObject/obj/Debug/netcoreapp3.1/StorageObject.AssemblyInfo.cs
StorageObjectTests/obj/Debug/netcoreapp3.1/StorageObjectTests.AssemblyInfo.cs
StorageObjectTests/obj/Debug/netcoreapp3.1/StorageObjectTests.AssemblyInfoInputs.cache
StorageObjectTests/obj/Debug/netcoreapp3.1/StorageObjectTests.assets.cache
StorageObjectTests/obj/Debug/netcoreapp3.1/StorageObjectTests.csproj.FileListAbsolute.txt
StorageObjectTests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
StorageObjectTests/obj/Debug/netcoreapp3.1/StorageObjectTests.csprojAssemblyReference.cache
StorageObjectTests/obj/project.assets.json
StorageObjectTests/obj/StorageObjectTests.csproj.nuget.cache
StorageObjectTests/obj/StorageObjectTests.csproj.nuget.dgspec.json
StorageObjectTests/obj/StorageObjectTests.csproj.nuget.g.props
StorageObjectTests/obj/StorageObjectTests.csproj.nuget.g.targets
StorageObjectTests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StorageObject/bin/Debug/netcoreapp3.1/StorageObject.deps.json
StorageObjectTests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/AWSSDK.Core.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/AWSSDK.S3.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/nunit.framework.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StorageObjectTests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
